<div class="modal-header bg-{{action.bgClass}}">
    <h3 class="modal-title"><span class="glyphicon glyphicon-{{action.iconClass}}"></span>&nbsp; {{action.modalTitle}}</h3>
</div>
<div class="modal-body">
    <p>You are going to {{action.description}} for: </p>
    <blockquote ng-if="actionType != 'restore'">
        <div ng-show="selectedVolumes.length<=maxVolumeDisplay&&actionType != 'restore'">
            <div class="h4 text-primary" ng-repeat="volume in selectedVolumes">{{volume.volumeId}}</div>
        </div>
        <p ng-hide="selectedVolumes.length<=maxVolumeDisplay">{{selectedVolumes.length}} selected volumes</p>
        <span ng-if="actionType === 'backup'">Volume's last backup will be used</span>

    </blockquote>

    <div ng-if="actionType === 'restore'">
        <span>Volume's last backup will be used</span>
        <table class="table restore-table">
            <tr>
                <th>Volume</th>
                <th>Action</th>
                <th>Value</th>
            </tr>

            <tr ng-repeat="volume in selectedVolumes track by $index">
                <td>{{volume.volumeId}}</td>
                <td>
                        <span dropdown>
                            <a href dropdown-toggle>{{volume.restoreAction ? volume.restoreAction :restoreActions[0]}}</a>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="action in restoreActions">
                                    <a href ng-click="selectAction(volume, action)">{{action}}</a>
                                </li>
                            </ul>
                        </span>
                </td>
                <td ng-if="volume.restoreAction!='Attach to instance'">
                        <span dropdown>
                            <a href dropdown-toggle>{{volume.zone ? volume.zone : selectedZone || "current"}}</a>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="zone in zones">
                                    <a href ng-click="selectZone(volume, zone)">{{zone}}</a>
                                </li>
                            </ul>
                        </span>
                </td>

                <td ng-if="volume.restoreAction=='Attach to instance'">
                        <span dropdown>
                            <a href dropdown-toggle>{{volume.instanceId ? volume.instanceId : instance}}</a>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="instance in instances">
                                    <a href ng-click="selectInstance(volume, instance)">{{instance}}</a>
                                </li>
                            </ul>
                        </span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="action.type == 'schedule'">
        <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input type="text" id="name" class="form-control" ng-model="schedule.name">
        </div>


        <!-- cron-->
        <div class="form-group">
            <label>Schedule </label> &nbsp;<span>(in timezone of amazon instance)</span><strong>:</strong>
            <jq-cron class="form-control" ng-model="schedule.cron"></jq-cron>
            Cron: <code>"{{schedule.cron}}"</code>
        </div>
        
        <!-- cron end-->

        <!-- enabled-->
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="schedule.enabled"/> Enabled
                </label>
            </div>
        </div>
        <!-- enabled end-->
    </div>



    <p> Do you want to {{action.description}} now?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-{{action.bgClass}}" ng-click="$close()"><span class="glyphicon glyphicon-{{action.iconClass}}"></span>&nbsp; {{action.buttonText}}</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>