<div class="card">
    <div class="flex-container">
        <div class="flex-5 card-content flex-center">
            <h3>Your system {{ settings.lastBackup ? "was backed up at " + (settings.lastBackup |
                date: 'yyyy-MM-dd HH:mm:ss') : "has never been backed up before"}}</h3>
        </div>

        <div class="flex-1 flex-center">
            <a class="btn btn-success" title="Backup system" ng-click="backup()">Backup now</a>
        </div>

    </div>
</div>

<div class="card">
    <div class="flex-container">
        <div class="flex-5 card-content flex-center">

            <div class="full-width form-group">
                <div class="col-sm-12">
                    <div class="col-sm-5 text-right">System ID</div>
                    <div class="col-sm-7 text-left">{{settings.systemId || 'unknown'}}</div>
                </div>
            </div>

            <div class="full-width">
                <!--<h3>AWS Resources</h3>-->
                <div class="col-sm-12" ng-show="settings.ec2Instance.instanceIDs">
                    <div class="col-sm-5 text-right">EC2 Instance IDs:</div>
                    <div class="col-sm-7 text-left">{{settings.ec2Instance.instanceIDs || 'unknown'}}</div>
                </div>

                <div class="col-sm-12 form-group">
                    <div class="col-sm-5 text-right">S3 Bucket:</div>
                    <div class="col-sm-7 text-left">{{settings.s3.bucketName || 'unknown'}}</div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-5 text-right">SDFS Volume Name:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.volumeName || 'unknown'}}</div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-5 text-right">SDFS Mount Point:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.mountPoint || 'unknown'}}</div>
                </div>
            </div>

        </div>

        <div class="flex-1 flex-center">
            <button class="btn btn-danger" title="Uninstall system" ng-disabled="!isAdmin"
                    ng-click="uninstall()">Uninstall</button>
        </div>
    </div>
</div>